<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="jumbotron text-center rounded col-md-8 align-self-center pt-5">
                <div class="justify-content-center">
                    <h1>Добавить склад</h1>
                </div>
                <form th:action="@{/warehouses/add}"
                      th:method="post"
                      th:object="${warehouseModel}"
                      class="m-md-auto w-50 pb-3">

                    <div class="mb-3">
                        <label class="form-label" for="name">Название</label>
                        <input th:field="*{name}"
                               th:errorclass="is-invalid"
                               type="text" class="form-control text-center" id="name" aria-describedby="nameHelp"
                               name="name"/>
                        <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger">Error
                            message</small>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="address">Адрес</label>
                        <input th:field="*{address}"
                               th:errorclass="is-invalid"
                               type="text" class="form-control text-center" id="address" aria-describedby="nameHelp"
                               name="address"/>
                        <small th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="text-danger">Error
                            message</small>
                    </div>

                    <button type="submit" class="btn btn-secondary">Добавить склад</button>
                </form>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>